name: Sync CLA
on:
  push:
    branches:
      - 'main'
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Sync gist
        uses: pentatonicfunk/action-gist-repo-sync@7a37e23973f58c405adb0f4040bd6a4e4bd31779 # v1.8
        with:
          gist_id: 0bf49de685a723a39d047d3a9003bb46
          gist_token: ${{ secrets.GIST_TOKEN }}
          source_path: cla
